
export(cove.boost.collapse.strata, marker.name.to.assay, draw.x.axis.cor, get.xlim)
export(pcr2, predictCompetingRisk2, pcr, predictCompetingRisk)

importFrom(kyotil, '%.%', contain, myprint)


import(stats)
import(utils)
import(methods)
import(graphics)
import(grDevices)
import(parallel)

